@page "/CreateClientes"
@inject ClientesServices ClientesServices
@using Library
@using GymHyR.Services

<PageTitle>Registro de Clientes</PageTitle>


<EditForm Model="cliente" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card shadow-lg">
        <div class="card-header">
            <h1>Registro de Clientes</h1>
        </div>
        <div class="row card-body">
            <div class="row mb-3">

                <div class="clo-4">
                    <!-- Para la fecha -->
                    <div class="row col-4">
                        <label class="form-label"><strong>Fecha</strong></label>
                        <InputDate @bind-Value="cliente.Fecha" class="form-control" />
                        <ValidationMessage For="@(() => cliente.Fecha)" />

                        <!-- Para el nombre -->
                        <label class="form-label"><strong>Nombre</strong></label>
                        <InputText @bind-Value="cliente.Nombre" class="form-control" />
                        <ValidationMessage For="@(() => cliente.Nombre)" />

                        <!-- Para la cédula -->
                        <label class="form-label">Cédula</label>
                        <InputText @bind-Value="cliente.Cedula" class="form-control" />
                        <ValidationMessage For="@(() => cliente.Cedula)" />

                        <!-- Para el correo electrónico -->
                        <label class="form-label">Correo Electrónico</label>
                        <InputText @bind-Value="cliente.Gmail" class="form-control" />
                        <ValidationMessage For="@(() => cliente.Gmail)" />

                        <!-- Para el teléfono -->
                        <label class="form-label">Teléfono</label>
                        <InputText @bind-Value="cliente.Telefono" class="form-control" />
                        <ValidationMessage For="@(() => cliente.Telefono)" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success"><i class="bi bi-floppy"></i> Crear</button>
        </div>
    </div>
</EditForm>

@code {
    public Clientes cliente { get; set; } = new Clientes();

    async Task Guardar()
    {
        if (await ClientesServices.ExisteCedula(cliente.Cedula))
        {
            // Aquí puedes manejar el mensaje de error si la cédula ya existe
        }
        else
        {
            if (await ClientesServices.Guardar(cliente))
            {
                Nuevo();
            }
        }
    }

    void Nuevo()
    {
        cliente = new Clientes();
    }
}
