@page "/ClientesIndex"
@using GymHyR.Services
@inject ClientesServices ClientesServices
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<PageTitle>Índice de Clientes</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <div>
                <a href="/" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i> </a>
                <button type="button" @onclick="IrCreate" class="btn btn-outline-primary"> Crear cliente</button>
            </div>
            <h2>Filtrar Clientes</h2>
            <div class='row'>
                <div class='col-md-3'>
                    <label>Cédula</label>
                    <div class="input-group mb-3">
                        <input id="criterioBusqueda" type="text" class="form-control" @bind="criterio" />
                        <button type="button" @onclick="Filtrar" class="btn btn-outline-primary bi bi-search"></button>
                    </div>
                </div>
                <div class='col-md-3'>
                    <label>Fecha de Registro Desde</label>
                    <InputDate @bind-Value="FechaInicial" class="form-control"></InputDate>
                </div>
                <div class='col-md-3'>
                    <label>Fecha de Registro Hasta</label>
                    <InputDate @bind-Value="FechaFinal" class="form-control"></InputDate>
                </div>

            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Fecha de Registro</th>
                        <th>Correo Electrónico</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cliente in ClientesList.Where(c => (string.IsNullOrEmpty(criterio) || c.Cedula.Contains(criterio)) && (c.Fecha >= FechaInicial && c.Fecha <= FechaFinal)))
                    {
                        <tr>
                            <td>@cliente.Cedula</td>
                            <td>@cliente.Nombre</td>
                            <td>@cliente.Fecha.ToShortDateString()</td>
                            <td>@cliente.Gmail</td>
                            <td>@cliente.Telefono</td>
                            <td>
                                <a href="/EditClientes/@cliente.Cedula" class="btn btn-outline-success"><i class="bi bi-pencil-fill"></i></a>
                                <a href="/DeleteClientes/@cliente.Cedula" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></a>
                                <a href="/ViewClientes/@cliente.Cedula" class="btn btn-outline-primary"><i class="bi bi-eye"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <button type="button" @onclick="ReiniciarFiltro" class="btn btn-outline-secondary bi bi-arrow-clockwise"> Reiniciar Filtro</button>
            </div>
        </div>
    </div>
</div>

@code {
    public List<Clientes> ClientesList { get; set; } = new List<Clientes>();
    public string criterio { get; set; } = string.Empty;
    public DateTime FechaInicial { get; set; } = DateTime.Today.AddDays(-7); // Default: 7 días atrás
    public DateTime FechaFinal { get; set; } = DateTime.Today;

    protected override async Task OnInitializedAsync()
    {
        await Filtrar();
    }

    async Task Filtrar()
    {
        ClientesList = await ClientesServices.GetList(cliente =>
            (string.IsNullOrEmpty(criterio) || cliente.Cedula.Contains(criterio)) &&
            (cliente.Fecha >= FechaInicial && cliente.Fecha <= FechaFinal));
    }

    void ReiniciarFiltro()
    {
        criterio = string.Empty;
        FechaInicial = DateTime.Today.AddDays(-7);
        FechaFinal = DateTime.Today;
        Filtrar();
    }

    void IrCreate()
    {
        NavigationManager.NavigateTo("/CreateClientes");
    }
}