@page "/ViewClientes/{Cedula}"
@using GymHyR.Services
@using Microsoft.AspNetCore.Authorization
@inject ClientesServices ClientesServices
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@attribute [Authorize(Roles = "Admin")]


<PageTitle>Detalle de Cliente</PageTitle>

<RadzenNotification />
<div class="container">
    <div class="card shadow-lg">
        <!-- Header -->
        <div class="card-header">
            <h3><strong>Cliente</strong></h3>
        </div>
        <!-- Cuerpo -->
        <div class="card-body justify-content-center">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="col-md-11 justify-content-center">
                        <h3 class="text-center"><strong>Datos del Cliente</strong></h3>
                        <div class="border-primmary border border-2 border-primary">
                            <div class="card-body">
                                <div class="row">
                                    <!-- Datos del cliente -->
                                    <div class="col-12">
                                        <ul class="list-unstyled" style="margin-top: 20px; margin-bottom: 20px;">
                                            <li><strong>Fecha:</strong> @ClienteSeleccionado.Fecha.ToShortDateString()</li>
                                            <li><strong>Nombre:</strong> @ClienteSeleccionado.Nombre</li>
                                            <li><strong>Cédula:</strong> @ClienteSeleccionado.Cedula</li>
                                            <li><strong>Correo Electrónico:</strong> @ClienteSeleccionado.Gmail</li>
                                            <li><strong>Teléfono:</strong> @ClienteSeleccionado.Telefono</li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Botones -->
                                </div>
                                <div class="card-footer d-flex justify-content-center mt-3">
                                    <div class="btn-group">
                                        <a href="/ClientesIndex" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i>Volver</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Cedula { get; set; }

    public Clientes ClienteSeleccionado { get; set; } = new Clientes();

    protected override async Task OnInitializedAsync()
    {
        ClienteSeleccionado = await ClientesServices.Buscar(Cedula);
    }

    void Volver()
    {
        NavigationManager.NavigateTo("/ClientesIndex");
    }
}