@page "/DeleteProductos/{Id:int}"
@using Library
@using GymHyR.Services
@inject ProductosServices productosService
@inject NavigationManager navigationManager
@inject NotificationService notificationServices
@inject IJSRuntime JSRuntime

@rendermode InteractiveAuto

<PageTitle>Eliminar productos</PageTitle>

<RadzenNotification />
<div class="container">
    <div class="shadow-lg">
        <h1>Eliminar Producto</h1>
        <div class="card-body">
            <h4><strong>Est&aacute;s seguro que quieres eliminar este producto?</strong></h4>
            <div class="mb-1">
                <p class="mb-0">Id: @productos.ProductoId</p>
            </div>

            <div class="mb-1">
                <p class="mb-0">Nombre: @productos.Nombre</p>
            </div>

            <div class="mb-1">
                <p class="mb-0">Fecha de creaci&oacute;n: @productos.FechaCreacion</p>
            </div>

            <div class="mb-1">
                <p class="mb-0">Descripci&oacute;n: @productos.Descripcion</p>
            </div>

            <div class="mb-1">
                <p class="mb-0">Precio del producto: @productos.PrecioVenta</p>
            </div>

            <div class="mb-1">
                <p class="mb-0">Cantidad en almacen: @productos.Cantidad</p>
            </div>



            <div class="d-grid gap-2">
                <a href="/ProductoIndex" class="btn btn-secondary"><i class="bi bi-arrow-left" /> Cancelar</a>
                <button type="button" class="btn btn-danger" @onclick="ConfirmarEliminar"><i class="bi bi-trash-fill" /> Eliminar</button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int Id { get; set; }
    private Productos productos { get; set; } = new Productos();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            productos = await productosService.GetProducto(Id);
        }
    }


    private async Task Eliminar()
    {
        if (Id != 0)
        {
            await productosService.DeleteProducto(Id);
            var Mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Eliminacion exitosa",
                    Detail = "Se a borrado el producto",
                    Duration = 1_000
                };
            notificationServices.Notify(Mensaje);
            await Task.Delay(1000);
            navigationManager.NavigateTo("/ProductoIndex");
        }
    }

    private async Task ConfirmarEliminar()
    {
        bool confirmacion = await JSRuntime.InvokeAsync<bool>("confirm", "¿Está seguro de que desea eliminar este proveedor?");
        if (confirmacion)
        {
            await Eliminar();
        }
    }
}